@mixin flexify {
}

@mixin flexify-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin center {
  display: flex;
  justify-content: center;
}

.register-form-container {
  @include flexify-col();
  .register-form {
    @include flexify-col();
    width: 50%;
    background: lightblue;
    padding: 20px;
  }
}

.progress_bar_piece {
  flex-grow: 1;
  border: 1px solid black;
}
